### Java ###
*.class

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Bỏ comment dòng dưới nếu bạn không muốn push file jar của maven wrapper lên git (giúp giảm dung lượng)
# .mvn/wrapper/maven-wrapper.jar

### IDE - IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### IDE - VS Code ###
.vscode/

### IDE - Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### OS Files ###
.DS_Store
Thumbs.db

### Application Logs ###
*.log

### Secrets & Environment Variables ###
.env
application-secret.properties
application-secret.yml
